@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&family=Audiowide&family=Nova+Flat&display=swap');

.aurora-outer {
    background: linear-gradient(-50deg, #00ff55 0%, #6600cc 70%, #6600cc 100%);
    background-size: 200%;
   
}

.aurora-inner {
    background: radial-gradient(rgba(0, 0, 0, 0.7), #000 100%);
    background-size: 200%;
    
}

.aurora-inner {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.aurora-outer {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.text
{
  margin-top: 75px;
  text-align: center;
  color: white;
  font-size: 70px;
  font-family: 'Audiowide';
  letter-spacing: 3px;
}